{% extends 'base.html.twig' %}


{% block nav_haut %}
<div class="brutalist_title_inversed"><a href="https://soundcloud.com/compericomperi">Soundcloud</a></div>
<div class="brutalist_title_inversed"><a href="https://www.instagram.com/compericomperi/">Instagram</a></div>
<div class="brutalist_title_inversed"><a href="https://open.spotify.com/artist/5zUBHOqqGkdLkwKOuOachn">Spotify</a></div>
<div class="brutalist_title_inversed"><a href="https://www.youtube.com/channel/UC5aS93Hdw87jyZk5S6EOQYQ/featured">Youtube</a></div>
<div class="brutalist_title_inversed"><a href="https://linktr.ee/comperi">Linktr</a></div>
<div class="brutalist_title_inversed"><a href="#">Mail</a></div>
{% endblock %}